<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sxxh.linghuo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".frame.ApplicationJob"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:logo="@mipmap/logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoAppTheme">
        <activity android:name=".me.activity.SubmitWorkActivity"></activity>
        <activity android:name=".activity.WebviewActivity" />
        <activity android:name=".message.SystemTaskMessageActivity" />
        <activity android:name=".me.activity.WaitAuditActivity" />
        <activity android:name=".me.activity.BindbankcardActivity" />
        <activity android:name=".activity.IntroduceActivity" />
        <activity android:name=".me.activity.SalaryActivity" />
        <activity android:name=".me.activity.IssusActivity" />
        <activity android:name=".me.activity.InsightsUserActivity" />
        <activity android:name=".me.activity.ProjectReviewActivity" />
        <activity android:name=".me.activity.InspectActivity" />
        <activity android:name=".me.activity.ApplyPeopleActivity" />
        <activity android:name=".me.activity.FeedbackSuccessActivity" />
        <activity android:name=".me.activity.AtonceActivity" />
        <activity android:name=".home.activity.CompanyActivity" />
        <activity android:name=".me.activity.FirmActivity" />
        <activity android:name=".me.activity.PeopleActivity" />
        <activity android:name=".me.activity.WaitListActivity" />
        <activity android:name=".me.activity.WorkingActivity" />
        <activity android:name=".me.activity.FinancialDetailsActivity" />
        <activity android:name=".me.activity.BalanceDrawalActivity" />
        <activity android:name=".me.activity.SubmitPayActivity" />
        <activity android:name=".issus.activity.PayCenterActivity" />
        <activity android:name=".me.activity.MyIssusActivity" />
        <activity android:name=".me.activity.MyApproveActivity" />
        <activity android:name=".me.activity.MyWalletActivity" />
        <activity android:name=".me.activity.IdBindActivity" />
        <activity android:name=".me.activity.DataPreviewActivity" />
        <activity android:name=".me.activity.WaitAppraiseActivity" />
        <activity android:name=".home.activity.DetailActivity" />
        <activity android:name=".me.activity.FeedbackActivity" />
        <activity android:name=".me.activity.CompaintActivity" />
        <activity android:name=".login.BindActivity" />
        <activity android:name=".login.FindPasswordActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CityPicker.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".me.activity.AmendActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <!--注册微信回调 WXEntryActivity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:launchMode="singleTask">
        </activity>
    </application>

</manifest>